# ACCESS TOKEN Configuration
VITE_ACCESS_TOKEN=thisIsJustRandomString
VITE_USER_DATA=userData

# API URL Configuration
# Set to 'DEVELOPMENT' to use VITE_API_URL_DEVELOPMENT, otherwise uses VITE_API_URL_PRODUCTION
VITE_API_URL_NODE_ENVIRONMENT=DEVELOPMENT
VITE_API_URL_DEVELOPMENT=http://localhost:5000
VITE_API_URL_PRODUCTION=https://api.manajerku.com/

